<li><%= link_to "<b>#{result.price}&euro;</b> #{result.name}", result.url, :target => "_blank" %> <br />ab <%= result.departure_airport %> <br /><%= "#{result.count} weitere Angebote" if result.count.to_i > 1 %></li>
